<div class="container">
    <h3>Cadastro de Carros:</h3>
    <form>
        <div class="row mb-3 mt-3">
            <label for="inputName" class="col-sm-1 col-form-label">Nome:</label>
            <div class="col-sm-10 offset-sm-1">
                <input type="text" class="form-control" name="inputName" id="inputName">
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <label for="inputAutomaker" class="col-sm-2 col-form-label">Montadora:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inputAutomaker" id="inputAutomaker">
            </div>
        </div>

        <div class="row mb-3 mt-3">
            <label for="inputPrice" class="col-sm-2 col-form-label">Preço:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="inputPrice" id="inputPrice">
            </div>

            <label for="inputYear" class="col-sm-2 col-form-label">Ano:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="inputYear" id="inputYear">
            </div>
        </div>
        
        <div class="row mb-3 mt-3">
            <div class="col-sm-4">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>